.pricing-column {
    margin: 10px;
    width: 100% !important;
    height: 480px;
    background-color: white;
    border-radius: 25px;

}

.pricing-row {
    padding: 20px;
    position: relative;
}
.pricing-container{
    background: black;
}

ul {
    list-style: none;
  }
  
  ul li:before {
    content: '✓';
  }

  .button{
  color: black;
  position: relative;
  width: 950px;
  padding: 100px;
  height: 215px;
}
  

  .pricing-heading{
    margin: 10px;
    position: relative;
  }
  .payment{
    position: relative;
  }