body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3{
  padding: 5px 10px;
  background: rgb(99, 59, 45);
  color: white;
  border: 2px solid whitesmoke;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;;
  width: 230px;
  text-transform: initial;
}

p{
  width: 200px;
}

